{
  "env": {
    "test": {
      "presets": [
        "flow",
        "react",
        ["env", {
          "targets": {
            "node": true
          },
          "modules": "commonjs"
        }],
        "stage-1"
      ]
    }
  }
}
